$dominant-hue:#bd362f;
$queryBtn-bgColor:#107cda;
$queryBtn-hoverBgColor:#006dcc;
$resetBtn-bgColor:#dc534c;
$resetBtn-hoverBgColor:$dominant-hue;
$border-color:#e5e5e5;
$header-bgColor:#f5f5f5;
$input-borderColor:#ccc;
$input-focusBorder:#8bc1f4;
$input-disableColor:#efefef;
$border-radius:5px;
$header-height:34px;
$title-paddding:15px;
$label-width:130px;
$input-width:165px;
$input-height:28px;